### San Diego Crime Statistics
    
- There must be 10 or more attributes for analyzing the data (both continuous and discrete),
- There must be at least 30,000 records to classify in the data
- There must be a good documentation of the dataset

In [1]:
import pandas as pd

In [19]:
data = pd.read_csv('Crime_SDCounty.csv',encoding='utf-8')
data.head()

,OBJECTID,TRACTCE10,BLOCKCE10,ALAND10,LOGRECNO,PLACE,BLKGRP,POP100,HU100,date,...,comm_pop,asr_zone,council,council_pop,desc_,Law_EnforcementID,Law_Enf_Distance,Area_Feet,CrimeIndicator,Lamp_Distance_Feet
0,1,16902,1159,155475,769322,99999,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,22,16248.139590,5.096823e+05,0,NaN
1,2,16902,1012,682684,781916,99999,1,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,30,31647.803950,2.238002e+06,0,NaN
2,3,16902,1186,439184,781733,99999,1,42,13,10/27/2010,...,0.0,NaN,NONE,0.0,ARSON:PROP (F),22,31847.085130,1.439746e+06,1,NaN
3,4,16902,1186,439184,781733,99999,1,42,13,7/15/2011,...,0.0,NaN,NONE,0.0,TAKE VEHICLE W/O OWNER'S CONSENT/VEHICLE THEFT,22,31847.085130,1.439746e+06,1,NaN
4,5,16811,2013,5149,780478,39766,2,15,7,NaN,...,NaN,NaN,NaN,NaN,NaN,12,8634.990981,1.687821e+04,0,NaN

In [24]:
print('Total Variables: ',len(data.columns))
print('Total Rows: {}'.format(data.shape[0]))

Total Variables:  33
Total Rows: 747213

In [35]:
data['desc_']

0                                                       NaN
1                                                       NaN
2                                            ARSON:PROP (F)
3            TAKE VEHICLE W/O OWNER'S CONSENT/VEHICLE THEFT
4                                                       NaN
5                                      RESIDENTIAL BURGLARY
6                                    VEHICLE BREAK-IN/THEFT
7                                    VEHICLE BREAK-IN/THEFT
8                                VANDALISM (LESS THAN $400)
9                     POSSESS NARCOTIC CONTROLLED SUBSTANCE
10                                                    FRAUD
11                            POSS CONTRL SUB PARAPHERNALIA
12                                                    FRAUD
13                                     RESIDENTIAL BURGLARY
14                                 VANDALISM ($400 OR MORE)
15                                              PETTY THEFT
16                             DISORDERLY CONDUCT:  ALCOHOL
17                                   VEHICLE BREAK-IN/THEFT
18               GRAND THEFT:MONEY/LABOR/PROPERTY OVER $400
19                                        BATTERY ON PERSON
20                             VANDALISM ($400 OR MORE) (F)
21                            POSS CONTRL SUB PARAPHERNALIA
22                             DISORDERLY CONDUCT:  ALCOHOL
23                                      COMMERCIAL BURGLARY
24                             DISORDERLY CONDUCT:  ALCOHOL
25                                   VEHICLE BREAK-IN/THEFT
26                                                    FRAUD
27                                      COMMERCIAL BURGLARY
28                                        ARSON OF PROPERTY
29                                      COMMERCIAL BURGLARY
                                ...
747183                                    DUI ALC/DRUGS (M)
747184                               VEHICLE BREAK-IN/THEFT
747185                             DRUNK IN PUBLIC: ALCOHOL
747186                                    DUI ALC/DRUGS (M)
747187                                    DUI ALC/DRUGS (M)
747188                                    DUI ALC/DRUGS (M)
747189                                    DUI ALC/DRUGS (M)
747190                                    DUI ALC/DRUGS (M)
747191                                    DUI ALC/DRUGS (M)
747192                                    DUI ALC/DRUGS (M)
747193                               VEHICLE BREAK-IN/THEFT
747194                                    DUI ALC/DRUGS (M)
747195                             DRUNK IN PUBLIC: ALCOHOL
747196                             DRUNK IN PUBLIC: ALCOHOL
747197                            PETTY THEFT(Shoplift) (M)
747198                                  COMMERCIAL BURGLARY
747199                                  COMMERCIAL BURGLARY
747200                               VEHICLE BREAK-IN/THEFT
747201                                                  NaN
747202                                                  NaN
747203                               VEHICLE BREAK-IN/THEFT
747204                  GRAND THEFT (All Other Larceny) (F)
747205                         VANDALISM [$400 OR LESS] (M)
747206                                 RESIDENTIAL BURGLARY
747207                               VEHICLE BREAK-IN/THEFT
747208                                                  NaN
747209    TAKE VEHICLE W/O OWNER'S CONSENT/VEHICLE THEFT...
747210                                                  NaN
747211                                                  NaN
747212                                                  NaN
Name: desc_, dtype: object

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 747213 entries, 0 to 747212
Data columns (total 33 columns):
OBJECTID              747213 non-null int64
TRACTCE10             747213 non-null int64
BLOCKCE10             747213 non-null int64
ALAND10               747213 non-null int64
LOGRECNO              747213 non-null int64
PLACE                 747213 non-null int64
BLKGRP                747213 non-null int64
POP100                747213 non-null int64
HU100                 747213 non-null int64
date                  727534 non-null object
year                  727534 non-null float64
month                 727534 non-null float64
day                   727534 non-null float64
week                  727534 non-null float64
dow                   727534 non-null float64
time                  727534 non-null object
hour                  727534 non-null float64
address               727534 non-null object
is_night              727534 non-null float64
type                  727534 non-null object
city                  727534 non-null object
nbrhood               727534 non-null object
community             727534 non-null object
comm_pop              727534 non-null float64
asr_zone              361945 non-null float64
council               727534 non-null object
council_pop           727534 non-null float64
desc_                 727498 non-null object
Law_EnforcementID     747213 non-null int64
Law_Enf_Distance      747213 non-null float64
Area_Feet             747213 non-null float64
CrimeIndicator        747213 non-null int64
Lamp_Distance_Feet    361945 non-null float64
dtypes: float64(13), int64(11), object(9)
memory usage: 188.1+ MB

In [25]:
print('Null Values:')
data.isnull().sum()

Null Values:

OBJECTID                   0
TRACTCE10                  0
BLOCKCE10                  0
ALAND10                    0
LOGRECNO                   0
PLACE                      0
BLKGRP                     0
POP100                     0
HU100                      0
date                   19679
year                   19679
month                  19679
day                    19679
week                   19679
dow                    19679
time                   19679
hour                   19679
address                19679
is_night               19679
type                   19679
city                   19679
nbrhood                19679
community              19679
comm_pop               19679
asr_zone              385268
council                19679
council_pop            19679
desc_                  19715
Law_EnforcementID          0
Law_Enf_Distance           0
Area_Feet                  0
CrimeIndicator             0
Lamp_Distance_Feet    385268
dtype: int64

In [26]:
#Drop NA values and check dimensions:
t = data.dropna()
t.shape

(361911, 33)

In [18]:
cat = 0
for c,r in data.iteritems():
    if r.dtype == object:
        cat +=1
print('Categorical Variables: ',cat)

Categorical Variables:  9

In [31]:
#Years of crime stats:
print('Range: {0:.0f} to {1:.0f}'.format(data['year'].min(),data['year'].max()))

Range: 2008 to 2012